.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 22rem;
  --slide-spacing: 1rem;
  --slide-size: 33%;
  padding: 4rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  width: 100%;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);

    img{
    width: 400px;
    aspect-ratio: 4/2.5;
    }
  
    h2{
      font-family: sans-serif;
      font-size: 1.5em;
    }
  
    p{
      font-family: sans-serif;
      font-size: 1.2em;
      display: -webkit-box;
      -webkit-line-clamp: 5; 
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
          
    }

    Button{
     color: white;
     padding: 5px 10px;
     background-color: blueviolet;
     border-radius: 10px;
     font-family: sans-serif;
     border: none;
     font-size: 1.2em;
     cursor: pointer;
    }

    Button:hover{
      background-color: rgb(59, 0, 114);
     
    }
}

