.container{
    height: 50px;
    display: flex;
    gap: 2em;
    padding: 30px;
    box-shadow: 0 0 10px darkgray;
}

.logo{
    left: 80px;
    margin-top: 4px;
    width: 110px;
    position: absolute;
    top: 6px;
}

.search{
    position: absolute;
    right: 80px;
    margin-top: 8px;
    height: 2em;
    background-color: white;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0px 0px 10px #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input{
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1em;
    margin-left: 10px;
}

.search input:focus{
    outline: none;
}

#search-icon{
    color: rgb(250, 112, 133);
}

.website{
    list-style: none;
    font-size: 1.3em;
    position: absolute;
    left: 11em;
    margin-top: 5px;
    
}

.website a{
    background-color:  #4B0082;
    color: #FFD700;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    margin-bottom: 25px;
}

.website a:hover{
    background-color: #c00bc0; 
    color: white;
}

.nav-right{
    justify-content: center;
    display: flex;
    margin-left: 400px;
    margin-top: 10px;
    
}

.dropdown{
    
.btn-secondary {
    background-color:  #4B0082;
    color: #FFD700;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #c00bc0; 
    color: white;
}


.dropdown-menu {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    margin-top: 5px;
    transition: opacity 0.3s ease;
}


.dropdown-item {
    padding: 10px 20px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #4CAF50; /* Same as button color */
    color: white;
}


.dropdown-item.active, .dropdown-item:active {
    background-color: #4CAF50;
    color: white;
}

}