.footer {
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  
  .infos {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contacts,
  .medias {
    flex: 1;
    text-align: center;
    margin: 10px;
  }
  
  .contacts h2,
  .medias h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    margin-bottom: 15px;
    font-size: 1.5em;
  }
  
  .contacts ul {
    list-style: none;
    padding: 0;
    color: #fff;
  }
  
  .contacts li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin: 5px 0;
  }
  
  .contacts li a {
    color: rgb(223, 11, 194);
    text-decoration: none;
  }
  
  .medias .media-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .medias img {
    width: 40px;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  .medias img:hover {
    transform: scale(1.2);
  }
  @media (max-width: 768px) {
    .footer{
      bottom: -310 dvb;
    }
    .infos {
      flex-direction: column;
      align-items: center;
    }
  
    .contacts h2,
    .medias h2 {
      font-size: 1.2em;
    }
  
    .medias img {
      width: 30px;
    }
  }
  